@import "block_editor/blocks/be-card/backend";
@import "block_editor/blocks/be-contact-form/backend";
@import "block_editor/blocks/be-cover/backend";
@import "block_editor/blocks/buttons/backend";
@import "block_editor/blocks/image/backend";

