.wp-block-be-cover {
  position: relative;
  padding: 5rem 1rem;
  margin-bottom: $paragraph-margin-bottom;
  background-color: $primary;

  @include media-breakpoint-up(md) {
    padding: 5*$spacer;
  }

  &-image {
    position: absolute;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: brightness(80%);
  }

  &-content {
    padding: $spacer;
    background: $body-bg;
    position: relative;
    min-height: 10rem;
    width: 100%;
    background: none;
    color: $white;
    text-align: center;
  }

  &.is-style-secondary {
    background-color: $secondary;
  }
}
