.block-editor-block-list__block[data-type="core/block"] {
  .block-editor-block-list__layout.is-root-container {
    padding: 0;
  }
  .reusable-block-edit-panel__button {
    display: none;
  }
  .block-list-appender {
    display: none;
  }
}
