.wp-block-button {
  display: inline-block;

  &__link {
    display: inline-block;
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    color: $body-color;
    text-align: center;
    text-decoration: if($link-decoration == none, null, none);
    white-space: $btn-white-space;
    vertical-align: middle;
    cursor: if($enable-button-pointers, pointer, null);
    user-select: none;
    background-color: transparent;
    border: $btn-border-width solid transparent;
    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
    @include transition($btn-transition);
    // @include button-variant($primary, $white);
    &:hover {
      color: $body-color;
      text-decoration: if($link-hover-decoration == underline, none, null);
    }
  }
  &.large {
    .wp-block-button__link{
      @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
    }
  }

  @each $color, $value in $theme-colors {
    &.is-style-#{$color} {
      .wp-block-button__link{
        @include button-variant($value, $value);
      }
    }
  }
  @each $color, $value in $theme-colors {
    &.is-style-outline-#{$color} {
      .wp-block-button__link{
        @include button-outline-variant($value);
      }
    }
  }
}
