@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

@import "~@wordpress/base-styles/colors";
@import "~@wordpress/base-styles/variables";
@import "~@wordpress/base-styles/mixins";
@import "~@wordpress/base-styles/breakpoints";
@import "~@wordpress/base-styles/animations";
@import "~@wordpress/base-styles/z-index";

// @import "~@wordpress/components/src/style"; // Can't do this as it is trying to import an invalid CSS file from react-dates - instead manually import all components
@import "~@wordpress/components/src/animate/style.scss";
@import "~@wordpress/components/src/autocomplete/style.scss";
@import "~@wordpress/components/src/button-group/style.scss";
@import "~@wordpress/components/src/button/style.scss";
@import "~@wordpress/components/src/checkbox-control/style.scss";
@import "~@wordpress/components/src/circular-option-picker/style.scss";
@import "~@wordpress/components/src/color-edit/style.scss";
@import "~@wordpress/components/src/color-indicator/style.scss";
@import "~@wordpress/components/src/color-picker/style.scss";
@import "~@wordpress/components/src/combobox-control/style.scss";
@import "~@wordpress/components/src/custom-gradient-picker/style.scss";
@import "~@wordpress/components/src/custom-select-control/style.scss";
// @import "~@wordpress/components/src/date-time/style.scss"; // This is the file with invalid CSS (via an import)
@import "~@wordpress/components/src/dimension-control/style.scss";
@import "~@wordpress/components/src/disabled/style.scss";
@import "~@wordpress/components/src/draggable/style.scss";
@import "~@wordpress/components/src/drop-zone/style.scss";
@import "~@wordpress/components/src/dropdown/style.scss";
@import "~@wordpress/components/src/dropdown-menu/style.scss";
@import "~@wordpress/components/src/font-size-picker/style.scss";
@import "~@wordpress/components/src/form-toggle/style.scss";
@import "~@wordpress/components/src/form-token-field/style.scss";
@import "~@wordpress/components/src/guide/style.scss";
@import "~@wordpress/components/src/higher-order/navigate-regions/style.scss";
@import "~@wordpress/components/src/menu-group/style.scss";
@import "~@wordpress/components/src/menu-item/style.scss";
@import "~@wordpress/components/src/menu-items-choice/style.scss";
@import "~@wordpress/components/src/modal/style.scss";
@import "~@wordpress/components/src/notice/style.scss";
@import "~@wordpress/components/src/panel/style.scss";
@import "~@wordpress/components/src/placeholder/style.scss";
@import "~@wordpress/components/src/popover/style.scss";
@import "~@wordpress/components/src/radio-control/style.scss";
@import "~@wordpress/components/src/resizable-box/style.scss";
@import "~@wordpress/components/src/responsive-wrapper/style.scss";
@import "~@wordpress/components/src/sandbox/style.scss";
@import "~@wordpress/components/src/scroll-lock/style.scss";
@import "~@wordpress/components/src/select-control/style.scss";
@import "~@wordpress/components/src/snackbar/style.scss";
@import "~@wordpress/components/src/spinner/style.scss";
@import "~@wordpress/components/src/tab-panel/style.scss";
@import "~@wordpress/components/src/text-control/style.scss";
@import "~@wordpress/components/src/tip/style.scss";
@import "~@wordpress/components/src/toggle-control/style.scss";
@import "~@wordpress/components/src/toolbar/style.scss";
@import "~@wordpress/components/src/toolbar-button/style.scss";
@import "~@wordpress/components/src/toolbar-group/style.scss";
@import "~@wordpress/components/src/tooltip/style.scss";
@import "~@wordpress/components/src/visually-hidden/style.scss";

@import "~@wordpress/interface/src/style";
@import "~@wordpress/block-editor/src/style";
@import "~@wordpress/block-library/src/style";

$header-height: 50px;

// Internal
@import "../../block_editor/components/sidebar/styles";
@import "../../block_editor/components/header/styles";
@import "../../block_editor/components/block-editor/styles";

.block-editor-block-list__layout.is-root-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.block-editor {
  @include reset;
  position: relative;
  margin: 1rem 0;
  padding: 0;
  font-family: $editor-font;
  font-size: $editor-font-size;
  line-height: $editor-line-height;
  border: 1px solid #f3f4f5;
  height: 500px;
  overflow-y: hidden;

  a,
  div {
    outline: 0;
  }

  label {
    font-size: $default-font-size;
  }

  .editor-styles-wrapper {
    font-family: $default-font;
    font-size: $default-font-size;
  }

  [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    margin-bottom: 0;
  }

  @include admin-scheme(#1b8ecf);

  .block-editor-inserter__main-area {
    padding-bottom: 2rem;
  }

  .block-editor-url-popover__additional-controls,
  .block-editor-media-replace-flow__options .components-form-file-upload {
    display: none;
  }

  .components-dropdown-menu__toggle[aria-label="Change alignment"] {
    display: none !important;
  }

  .components-toolbar-button[aria-label="Crop"] {
    display: none !important;
  }

  .block-editor-block-mover__move-button-container {
    display: inline-flex;
  }

  .block-editor-inserter__manage-reusable-blocks {
    display: none;
  }

  &:not(.block-editor__fullscreen) {
    .block-editor__size-toggle-button__minimize {
      display: none;
    }
  }

  &.block-editor__fullscreen {
    .block-editor__size-toggle-button__maximize {
      display: none;
    }
  }

  &__size-toggle-button {
    position: absolute;
    right: 0;
    top: 7px;
    z-index: 1;
  }

  &__fullscreen {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    padding: 0;
    z-index: 99;
    margin: 0;
    height: unset;
    .block-editor {
      height: 100%;
    }
  }
}

// In order to use mix-blend-mode, this element needs to have an explicitly set background-color.
// We scope it to .wp-toolbar to be wp-admin only, to prevent bleed into other implementations.
html.wp-toolbar {
  background: $white;
}

// The modals are shown outside the .block-editor wrapper, they need these styles.
.block-editor, .components-modal__frame {
  @include reset;
}

.interface-interface {
  &-skeleton {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    &__footer {
      position: inherit;
      .block-editor-block-breadcrumb {
        position: absolute;
        bottom: 0;
        z-index: 1;
        background-color: $white;
        width: 100%;
        border-top: 1px solid #f3f4f5;
        padding: 1rem 0;
      }
    }
    &__sidebar {
      width: 280px;
    }
  }
}
